body{
  background-color: rgb(1,1,32) !important;
}
.rachit-centerheader {
  text-align: center;
  background-color: rgb(1,1,32) !important;
  background-color: rgb(12, 12, 70);
  color:lavender;
  
}

.rachit-profilepic {
  border-radius: 50%;
  border: aquamarine;
  border-image-outset: aquamarine;
}
#about {
  height: 250px;
  background-color: skin;
}
#first{
  color:aquamarine;
  font-size: 20px;
  padding-left:30px;
  text-align: left;
  padding-top: 50px;
  
}

#second{
  color:lavender;
  padding-left:30px;
  font-size: 65px;
  font-family: inherit;
  font-weight: bold;
  text-align:left;
}

#third{
  color: rgb(228, 228, 250);
  padding-left: 30px;
  font-size: 65px;
  font-family: inherit;
  font-weight: bold;
  text-align:left;
}
.column {
  float: left;
  width: 32%;
  padding: 0 25px;
}
.card {
  box-shadow: 0 4px 8px 0 aquamarine;
  padding: 16px;
  text-align: center;
  background-color: rgb(1,1,32) !important;
  color:lavender;
  height: 250px;
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color: silver;
  height: 500px;
}

.item2 {
  background-color:slategray;
  height: 500px;
}

.item3 {
  background-color:thistle;
  height: 500px;
}
td{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 35px;
}
